<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Insert title here</title>
</head>

<body>
    <form action="/file/upload/job" method="POST" enctype="multipart/form-data">
        <input name="job" type="file">
        <button type="submit">上传</button>
    </form>
</body>

</html>